[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PLreg"]
	path = PLreg
	url = https://github.com/ffqueiroz/plreg
[submodule "robustbetareg"]
	path = robustbetareg
	url = https://github.com/cran/robustbetareg
